@model IEnumerable<SEProjectApp.DataModel.Building>

@{
    ViewData["Title"] = "Index";
}

<h1>Building</h1>

<p>
    <a style="background-color:gray" class="badge badge-light" asp-action="Create">Add new building details</a>
</p>
<table class="table">
    <thead>
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingNo)
            </td>
            <td>
                <a style="background-color:gray" class="badge badge-pill badge-warning" asp-action="Edit" asp-route-id="@item.BuildingId">Edit</a> |
                <a style="background-color:gray" class="badge badge-pill badge-info" asp-action="Details" asp-route-id="@item.BuildingId">Details</a> |
                <a style="background-color:gray" class="badge badge-pill badge-danger" asp-action="Delete" asp-route-id="@item.BuildingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
