@model SEProjectApp.DataModel.Furnisor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Furnisor</h4>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FurnisorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FurnisorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FurnisorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
